*.fbx filter=lfs diff=lfs merge=lfs -text
public/textures/Body3_Normal.png filter=lfs diff=lfs merge=lfs -text
public/textures/material_0_Merged0_LOD0_Bake_Normal.png filter=lfs diff=lfs merge=lfs -text
