@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 10, 10;
    --background-end-rgb: 10, 10, 10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  cursor: none;
  /* Hide default cursor for custom one */
}

/* Custom Cursor Styles */
.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #0ea5e9;
}

.cursor-outline {
  width: 40px;
  height: 40px;
  border: 1px solid #0ea5e9;
  transition: width 0.2s, height 0.2s, background-color 0.2s;
}

body:hover .cursor-outline {
  width: 50px;
  height: 50px;
  background-color: rgba(14, 165, 233, 0.1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}